.loading {
    background-color: #fafafa;
    height: 100%;
    left: 0;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1000;
}

.lds-dual-ring {
    height: 80px;
    margin: auto;
    margin-top: 20vh;
    width: 80px;
}

.lds-dual-ring:after {
    animation: lds-dual-ring 1.2s linear infinite;
    border: 6px solid darkgray;
    border-color: darkgray transparent darkgray transparent;
    border-radius: 50%;
    content: " ";
    display: block;
    height: 64px;
    margin: 8px;
    width: 64px;
}
@keyframes lds-dual-ring {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}
