html {
    --lumo-primary-color: #4caf50;
    --lumo-primary-text-color: #4caf50;
    --lumo-primary-color-10pct: hsla(118.3, 46.8%, 56.5%, 0.13);

    --lumo-font-size-xxxl: 1.75rem;
    --lumo-font-size-xxl: 1.5rem;
    --lumo-font-size-xl: 1.25rem;
    --lumo-font-size-l: 1.125rem;
    --lumo-font-size-m: 1rem;
    --lumo-font-size-s: .875rem;
    --lumo-font-size-xs: .8125rem;
    --lumo-font-size-xxs: .75rem;

    scroll-behavior: smooth;
}

.register-and-restore-background,
vaadin-login-overlay-wrapper::part(backdrop) {
  background: url("images/background.jpg");
  background-size: cover;
  background-position: center;
  height: 100vh;
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
}

.register-and-restore-background-vertical-layout {
    padding: var(--lumo-space-l);
    border-radius: 0.5em;
    width: 100%;
    background-color: white;
    padding-top: 1.5em;
    margin-top: 5em !important;
}

.application-header-title-box {
    width: 100%;
    position: relative;
}

.application-header-title {
    cursor: pointer;
    width: fit-content;
    margin: auto;
    font-size: 1.75em;
    font-weight: normal;
}

vaadin-login-form-wrapper::part(form-title),
.custom-layout-header {
	position: absolute;
	top: 0;
	right: 0;
	left: 0;
	text-align: center;
	color: white;
	padding: 0;
	background-color: #4caf50;
	border-bottom: 2px solid #36823a;
	text-shadow: 0 0 5px #000;
	margin-top: 0;
	font-size: 1.75em;
    font-weight: normal;
    line-height: 3.5rem;
}

.toggle-menu-bars {
    padding: 0.5em;
    z-index: 10;
    position: absolute;
}

.toggle-button {
	background: #4caf50;
	color: white;
	cursor: pointer;
	font-size: 1.2em;
	font-weight: bold;
	z-index: 1;
}

.bar1, .bar2, .bar3 {
	background-color: white;
	height: 6px;
	margin: 6px 0;
	transition: .2s;
	width: 30px;
}

.change .bar1 {
	transform: translateY(12px) rotate(-45deg);
}

.change .bar2 {
	opacity: 0;
}

.change .bar3 {
	transform: translateY(-12px) rotate(45deg);
}

vaadin-drawer-toggle {
    z-index: 100;
    color: white;
}

vaadin-button[slot="forgot-password"] {
    cursor: pointer;
    padding: 0;
}

vaadin-notification-card::part(content) {
    text-align: center;
    display: block;
}

h4 {
    margin: 2em 0 1em 0;
}

h5 {
    margin: 2em 0 0 0;
}

vaadin-app-layout::part(navbar) {
    background-color: #4caf50;
    border-bottom: 2px solid #36823a;
    z-index: 100;
}

vaadin-scroller[slot="drawer"] {
    padding: var(--lumo-space-s);
}

[slot="drawer"]:is(header, footer) {
    display: flex;
    align-items: center;
    gap: var(--lumo-space-s);
    padding: var(--lumo-space-s) var(--lumo-space-m);
    min-height: var(--lumo-size-xl);
    box-sizing: border-box;
}

[slot="drawer"]:is(header, footer):is(:empty) {
    display: none;
}

vaadin-login-overlay-wrapper::part(brand) {
    display: none;
}

vaadin-login-form vaadin-button[theme~="submit"] {
	border: 1px solid;
	border-radius: 5px;
	color: white;
	cursor: pointer;
	background-color: #4caf50;
	border-color: #448046;
	color: white;
}

vaadin-login-form vaadin-button[theme~="submit"]:hover {
    background-color: #448046;
    border-color: #448046;
}

vaadin-dialog-overlay::part(title) {
    color: var(--lumo-header-text-color);
    font-size: 1.125rem;
    font-weight: 600;
}

vaadin-checkbox {
  text-align: left;
}

.text-shadow {
    text-shadow: 0 0 5px #000;
}

.text-align-left {
    text-align: left;
}

.text-align-center {
    text-align: center;
}

.text-align-right {
    text-align: right;
}

.text-color-white {
    color: white;
}

.content-max-width {
	align-items: stretch;
	height: 100%;
	max-width: 30em;
	margin: 0 auto;
}

.height-auto {
    height: auto;
}

.button-parent-class {
	border: 1px solid;
	border-radius: 5px;
	color: white;
	cursor: pointer;
}

.button-green {
	background-color: #4caf50;
	border-color: #448046;
	color: white;
}

.button-green:hover {
    background-color: #448046;
    border-color: #448046;
}

.button-red {
	background-color: #dd3535;
	border-color: #b52626;
	color: white;
}

.button-red:hover {
    background-color: #b52626;
    border-color: #b52626;
}

.button-blue {
	background-color: #3496ff;
	border-color: #004d9f;
	color: white;
}

.button-blue:hover {
    background-color: #3496ff;
    border-color: #3496ff;
}

.button-close {
    color: #f3f5f7;
    background-color: #8c9aa8;
}

.border {
	border: 1px solid #808080;
	border-radius: 5px;
	margin-bottom: 1rem;
}

.button-group-options {
    background-color: unset;
    color: #444;
    line-height: 2.3;
    margin: 0;
}

.button-group-options:hover {
    background-color: #e7e7e7;
}

vaadin-button[disabled] {
	background: lightgrey;
	background-color: lightgray !important;
	border-color: darkgray !important;
	cursor: not-allowed;
	text-shadow: none;
}

.full-width {
    width: 100%;
}

.half-width {
    width: 50%;
}

.font-xs {
    font-size: var(--lumo-font-size-xs);
}

.font-bold {
    font-weight: bold;
}

.dialog-max-width {
    width: 100%;
    max-width: 35em;
}

.no-gap {
    gap: 0;
}

.align-items-end {
    align-items: end;
}

.margin-auto {
    margin: auto;
}

.payment-box {
    padding-bottom: 0.5em;
    justify-content: center;
    width: 20em;
}

.payment-box > .text-align-left {
    padding-left: 0.5em;
}

.no-margin {
    margin: 0;
}

.no-padding {
    padding: 0;
}

.no-padding-top {
    padding-top: 0;
}

.no-padding-bottom {
    padding-bottom: 0;
}

.calc-button-parent {
    width: 70px;
    height: 70px;
    margin: 0;
    padding: 0;
    border-radius: 0;
}

.calc-button-number {
    background-color: #eaedef;
    border: 1px solid #d7d7d7;
    color: #686868;
}

.calc-button-operator {
    background-color: #4caf50;
    color: white;
    border: 1px solid #59cc5d;
}

.calc-hl {
    gap: 5px;
}

.calc-result-textfield[readonly]::part(input-field) {
    --vaadin-input-field-readonly-border: none;
}

.calc-result-textfield {
    border: 1px solid darkgray;
    background-color: #eaedef;
}

.calc-result-textfield > input {
    height: 50px;
    font-size: 2.5rem;
    border: none;
    outline: none;
    box-shadow: none;
}

.margin-top-10 {
    margin-top: 10px;
}

.group-join-area {
    border: 1px solid #808080;
    border-radius: 5px;
}

.group-join-area > h4 {
    margin: 0;
}

.app-nav-item-section-groups {
    border-bottom: 1px solid grey;
    font-weight: bold;
}

.app-nav-item-section-settings {
    border-top: 1px solid grey;
}

.position-relativ {
    position: relative;
}

.notification-button {
    position: absolute;
    right: 0;
    height: 1.375rem;
    width: 1.375rem;
}

vaadin-app-layout::part(backdrop),
vaadin-dialog-overlay::part(backdrop) {
	background-color: #00000080;
	-webkit-backdrop-filter: none;
    backdrop-filter: none;
}

.no-wrap {
    white-space: nowrap;
}

.font-style-italic {
    font-style: italic;
}

.default-max-width {
    max-width: 35em;
}

.line-breaks-anywhere {
    line-break: anywhere;
}

.button-calc {
    width: 30px;
    margin-top: 4px;
}

vaadin-grid {
    border: none;
}

vaadin-grid-cell-content {
    padding: 0 10px;
}

.custom-layout-content {
    padding-top: 6em;
}

.custom-layout-link {
    font-weight: 500;
    font-size: var(--lumo-font-size-s);
}

.padding-left-for-accordion {
    padding-left: 0.25em;
}

vaadin-grid::part(history-delete) {
    background-color: #ffc7c7;
}

.group-main-toggle-btn-grp:first-child {
    border-top-right-radius: 0;
    border-bottom-right-radius: 0
}
.group-main-toggle-btn-grp:last-child {
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
}

.settings-info-div {
    margin-top: 2em;
}

.settings-info-div > img {
    cursor:pointer;
    margin: 1em 2em;
    max-width: 15em;
}

@media screen and (max-width: 500px)  {
    vaadin-login-form-wrapper::part(form) {
        padding-top: 6em;
    }
}

.inner-border:not(:last-child) {
    border-bottom: 1px dashed #bbc3cd;
}

.member-table-line {
    border-bottom: 1px solid lightgray;
}

@media screen and (max-height: 500px)  {
    vaadin-login-form-wrapper::part(form),
    .custom-layout-content {
        padding-top: 4em;
    }
}

@media screen and (max-width: 595px) {
    .dialog-max-width {
        height: 100%;
        width: 100%;
        left: 0;
    }
    vaadin-dialog-overlay::part(overlay) {
        top: 0;
        position: fixed;
    }
}